@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Oi&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

#create-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 22px;
  box-shadow: 30px 30px #05312F;
  background-color: #CEB3E2;
  width: 600px;
  margin-top: 8rem;

}

#create-heading {
  font-family: "Oi", serif;
  font-size: 20px;
  margin-bottom: 4rem;
  text-align: center;
}

#image {
  border: 1px solid black;
  border-radius: 40px;
  height: 250px;
  width: 400px;
  margin-top: -51px;
  text-align: center;
  text-decoration: none;
}

#materials {
  font-family: "Oi", serif;
  font-size: 20px;
  text-align: center;
  margin-top: -4rem;
}

#revamp {
  font-family: "Oi", serif;
  font-size: 20px;
  text-align: center;
  margin-top: 3rem;
}

#picture-section {
  margin-bottom: 6rem;
}

#back-page {
  background-image: url(../images/Create-Post-Background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#entirety {
  padding-top: 1rem;
  width: 100%;
  height: 125vh;
  background: linear-gradient(to top,
      #FFFFFF 0%,
      #FFFFFF 60%,
      #C8E6E0 60%,
      #C8E6E0 100%);
  margin-bottom: 3rem;
  margin-top: -3.5rem;
}

#post {
  display: inline-block;
  background-color: #F4CF69;
  width: 6rem;
  height: 1.5rem;
  border-radius: 22px;
  border: none;
  font-family: "Michroma", sans-serif;
  font-size: 13px;
  box-shadow: 6px 4px #05312F;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  margin-top: 2rem;
}

form::placeholder {
  font-family: "Michroma", sans-serif;
  font-weight: 6;
  padding-left: 3rem;
}

#post::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: #05312F;
  transition: all 0.3s ease;
  border-radius: 22px;
  transform: translate(-50%, -50%) scale(0);
}

#post:hover::after {
  transform: translate(-50%, -50%) scale(1);
}

#description {
  border-radius: 40px;
  height: 250px;
  width: 400px;

}

.description-section textarea::placeholder {
  font-family: "Michroma", sans-serif;
  font-size: 13px;
  color: black;
  padding-top: 30px;
  padding-right: 1rem;

}

.description-section textarea {
  padding-top: 2rem;
  padding-left: 1rem;
}

#picture-section input::placeholder {
  font-family: "Michroma", sans-serif;
  font-size: 13px;
  color: black;
  padding-right: 3rem;

}

#create-post-form input[type="text"],
#create-post-form textarea {
  font-family: "Michroma", sans-serif;
}

@media screen and (max-width: 768px) {
  #create-post-form {
      width: 90%;
      max-width: 90%; 
  }
}