@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Oi&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#explore-main{
    padding-top: 4rem;
    width: 100%;
    height: 100%;
    background: white;
    background-image: url(../images/Explore-Page-Background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#posts-container{
    padding-top: 70px;
    padding-left: 170px;
    padding-right: 150px;
    padding-bottom: 70px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.explore-postcard{
    border: 1px solid black;
    box-shadow: 30px 30px #05312F;
    border-radius: 30px;
}

.Post-Interactions{
    display: flex;
    flex-direction: row;
    justify-content: start;
}
#postcard-text{
    background-color: #CEB3E2;
}

#explore-post-heading{
    text-align: center;

}
#explore-post-details{
    font-family: "Michroma", sans-serif;
    text-align: center;
}

#explore-postcard-profile-pic{
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 100%;
    border-style: double;
    border-color: white;

}

#postcard-images{
    box-shadow: 10px 10px #05312F;
    border-radius: 22px;
}

#explore-postcard-post-pic{
    border-radius: 22px;
}

#postcard{
    margin-left: 35px;
}
#explore-save-icon{
    margin-top: 15px;
    margin-left: 215px;
    height: 7px;
    width: 5px;
}







