* {
    margin: 0;
    padding: 0;
   background-color: #FFFFFF ;
  }

  #example-1 {
   background-color: #C8E6E0 ;

  }

  #example-2 {
    background-color: #f4c59f ;
  }

  #example-3 {
    background-color: #BFD0A0 ;
  }

  #about-us {
    background-color: #CEB3E2 ;
    padding: 20px;
    font-size: 20px;
    /* font-family: ; */
  }