* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 4rem;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top,
            #FFFFFF 0%,
            #FFFFFF 60%,
            #C8E6E0 60%,
            #C8E6E0 100%);
}

#user-picture {
    display: flex;
    justify-content: flex-end;
    
}

#user-profile-picture {
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 100%;
    border-style: double;
    border-color: white;
}