* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

input, label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #BFD0A0;
  border: 1px solid black;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #05312F;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #05312F;
}

form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}

input[type='file'] {
  color: transparent;
  display: none;
}
.profile-img {
  position: relative;
}

#upload-picture-button {
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
  background-color: white;
  border-radius: 50%;
}

#upload-picture {
  width: 4rem;
  height: 4rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}